/*text styles*/
h1 {
	margin: 1em 0;
	font-size: 3.0em;
	font-weight: 700;
}
h2 {
	margin: 0 0 0.5em;
	font-size: 2.8em;
	font-weight: 700;
	line-height: 1.1em;
}
h3 {
	margin: 0 0 0.5em;
	font-size: 2.8em;
	font-weight: 700;
}
h4 {
	margin: 0 0 1.5em;
	font-size: 2.8em;
	font-weight: 700;
}
p {
	font-size: 16px;
}
/*index page style*/
.mypage {
	padding: 0;
}
.myNav {
	background: black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0;
	/*make it sticky */
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 7px 5px rgba(0, 0, 0, 0.4);
	a {
		color: white;
		text-decoration: none;
		padding: 0 1em;
	}
	li {
		margin: 10px;
		list-style-type: none;
		&:first-child {
			margin-right: auto;
		}
		&::after {
			content: '';
			display: block;
			height: 3px;
			width: 0;
		}
		&:hover:after {
			width: 100%;
			background: #00B7FF;
			transition: width 0.4s ease-out;
		}
		&:first-child:hover:after {
			margin-right: auto;
			background: none;
		}
	}
}
/* underline effect on the nav items */
/* don't want to underline the logo with blue line*/
.myWrapper {
	margin: auto;
	width: 70%;
	height: 100%;
}
.headerDiv {
	width: 100%;
	height: 100vh;
	min-height: 800px;
	background: url("../images/Header.jpg") top center no-repeat;
	background-size: cover;
	padding: 0;
	display: inline-block;
	box-shadow: 0 1px 20px black;
	text-shadow: 2px 2px 2px black;
	section {
		width: 40%;
		left: 55%;
		top: 20%;
		position: absolute;
		//background-color: rgba(245,245,245, 0.5);
		color: white;
		padding: 50px;
		border-radius: 30px;
	}
	p {
		font-size: 2em;
	}
	section a.btn {
		color: white;
		position: relative;
		margin-top: 40px;
		padding: 12px 40px;
		border: 2px solid white;
		font-size: 1.2em;
		transition: 0.5s ease-in-out all;
		&:active {
			top: 3px;
		}
		&:hover {
			color: white;
			border: 2px solid #00B7FF;
			transition: 0.5s ease-in-out all;
		}
	}
}
.mainInfo {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}
.mainContent {
	flex-flow: row wrap;
	width: 30%;
	text-align: center;
	transition: all 0.5s ease-out;
	&:hover {
		transform: scale(1.1);
		transition: all 0.2s ease-out;
	}
}
.secondContent {
	width: 100%;
	height: auto;
	background: linear-gradient(to bottom right, rgba(202, 100, 29, 0.7), rgba(220, 66, 37, 0.7));
	/*, url("../images/work-min.jpg") center no-repeat;*/
	background-size: cover;
	box-shadow: 0 -1px 20px grey, 0 1px 20px grey;
	margin-bottom: 25px;
	color: white;
	text-shadow: 2px 2px 2px black;
	.myWrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
		text-align: center;
	}
	figure img {
		max-width: 400px;
		max-height: 200px;
		width: 100%;
		height: 100%;
	}
}
.secondDiv {
	width: 40%;
	p {
		font-size: 1.2em;
	}
}
.contactUS {
	width: 100%;
	height: 70vh;
}
.footer {
	width: 100%;
	height: 50vh;
	background: rgba(21, 36, 66, 1);
	background-size: cover;
	box-shadow: 0 -1px 20px black;
}
@media (max-width: 600px) {
	.mainInfo,
	.secondContent .myWrapper {
		flex-flow: column;
		-webkit-flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.mainContent,
	.secondDiv {
		width: 100%;
	}
	.headerDiv section {
		width: 70%;
		margin: auto;
		position: relative;
		left: 0;
		top: 0;
		text-align: center;
	}
}
