
extends loggedinlayout

block content
	.mainBox
		.userNav
			ul.dashNav
				li.active(role='presentation')
					a(data-toggle="tab", href='#createuserprofile') Create User
				li(role='presentation')
					a(data-toggle="tab", href='#testresults') Test Results
				li(role='presentation')
					a(data-toggle="tab", href='#medications') Medications 
				li(role='presentation')
					a(data-toggle="tab", href='#allergies') Allergies 
				li(role='presentation')
					a(data-toggle="tab", href='#immunizations') Immunizations
				li(role='presentation')
					a(data-toggle="tab", href='#history') History Summary

		.userContent.tab-content						
			#createuserprofile.tab-pane.fade.in.active
				h1 Create User
				//- p 123123123123
				//- p 123123123
				//.myForm
				.mySmallBlock
					label.myLabel First Name *
					input.mySmallInput 
				.mySmallBlock
					label.myLabel Last Name *
					input.mySmallInput 

				.myClear
				.mySmallBlock
					label.myLabel Email *
					input.mySmallInput(type='email')  
				.mySmallBlock
					label.myLabel Phone
					input.mySmallInput(type='number')

				.myClear
				.mySmallBlock
					label.myLabel Street Address
					input.mySmallInput
				.mySmallBlock
					label.myLabel City
					input.mySmallInput(type='number')

				.myClear
				.myXSmallBlock
					label.myLabel Country
					input.mySmallInput
				.myXSmallBlock
					label.myLabel State
					input.mySmallInput
				.myXSmallBlock
					label.myLabel ZIP
					input.mySmallInput

				.myClear
				.myXSmallBlock
					label.myLabel Gender
					input.myRadio(type='radio', name='gender', value='male')
					| Male
					input.myRadio(type='radio', name='gender', value='male')
					| Female
					input.myRadio(type='radio', name='gender', value='male')
					| Other
				.myXSmallBlock
					label.myLabel Height
					input.mySmallInput
				.myXSmallBlock
					label.myLabel Weight
					input.mySmallInput

				.myClear
				.mySmallBlock
					label.myLabel Primary Insurance
					input.mySmallInput
				.mySmallBlock
					label.myLabel Primary Pharmacy
					input.mySmallInput
				.myMediumBlock
					label.myLabel Comment
					input.myFullInput								

			#testresults.tab-pane.fade
				h1 Test Results
				.testMain
					.testUrine
						h1 Urine Tests
						
						.mySmallBlock
							label.myLabel maybe pH level? 1-14
							input.mySmallInput
							//figcaption maybe describing the shits?
						.myClear		
						.mySmallBlock
							label.myLabel Glucose?
							input.mySmallInput
							//figcaption shits is described?								
						.myClear		
						.mySmallBlock
							label.myLabel Ketones? y/n
							input.mySmallInput
							//figcaption describes the shits									
						.myClear		
						.mySmallBlock
							label.myLabel Gravity? 1.005 - 1.030
							input.mySmallInput
							//figcaption this is a test
							a.mySubmit Submit									
							//end urinetests			
					
					.testBlood
						h1 Blood Tests
						
						.mySmallBlock
							label.myLabel Cholesterol mg/dL
							input.mySmallInput
						.myClear		
						.mySmallBlock
							label.myLabel Blood Type (A, B, AB, O)
							input.mySmallInput								
						.myClear		
						.mySmallBlock
							label.myLabel Glucose
							input.mySmallInput									
						.myClear		
						.mySmallBlock
							label.myLabel CRP level mg/L
							input.mySmallInput						
						//end blood tests
						
					.testImaging
						h1 Imaging Tests
						
						.mySmallBlock
							label.myLabel Label shit
							input.mySmallInput
						.myClear		
						.mySmallBlock
							label.myLabel Label shit
							input.mySmallInput								
						.myClear		
						.mySmallBlock
							label.myLabel Label shit
							input.mySmallInput									
						.myClear		
						.mySmallBlock
							label.myLabel Label shit
							input.mySmallInput
						//ennd test Imaging
													
					.testEndoscopy
						h1 Endoscopy Tests

						.mySmallBlock
							label.myLabel Blood Pressure
							label.myLabel Systolic
							input.mySmallInput
							label.myLabel Diastolic
							input.mySmallInput
						.myClear		
						.mySmallBlock
							label.myLabel PSA Serum (prostate) 1-4 ng/mL
							input.mySmallInput								
						.myClear		
						.mySmallBlock
							label.myLabel Vision 20/20 20/40 etc..
							input.mySmallInput									
						.myClear		
						.mySmallBlock
							label.myLabel Label shit
							input.mySmallInput
							
							
						//end test endoscopy
							
			#medications.tab-pane.fade
				h1 Medications
					.myMain
						.myBlock
							.myMediumBlock
								label.myLabel Medication Name
								input.mySmallInput
							
							.myClear
							.myMediumBlock
								label.myLabel Dosage (mg,m,etc)
								input.mySmallInput
							
							.myClear
							.myMediumBlock
								label.myLabel Frequency (twice a day/ every 2 hours etc.)
								input.mySmallInput
							
							.myClear
							.mySmallBlock
								label.myLabel Date start
								input.mySmallInput
							.mySmallBlock
								label.myLabel Date End
								input.mySmallInput
							.myClear
							.myMediumBlock
								label.myLabel Description
								input.myFullInput
								a.mySubmit Submit	
												
			#allergies.tab-pane.fade
				h1 Allergies
				.myMain
					.myBlock
						.myMediumBlock
							label.myLabel Allergy Name
							input.mySmallInput
						
						.myClear
						.mySmallBlock
							label.myLabel Date start
							input.mySmallInput
						.mySmallBlock
							label.myLabel Date End
							input.mySmallInput
						.myClear
						.myMediumBlock
							label.myLabel Description
							input.myFullInput
							a.mySubmit Submit
								
			#immunizations.tab-pane.fade
				h1 Immunizations
				.myMain
					.myBlock
						.myMediumBlock
							label.myLabel Immunization Name
							input.mySmallInput
						
						.myClear
						.mySmallBlock
							label.myLabel Date Recorded
							input.mySmallInput
						.mySmallBlock
							label.myLabel Date Expires
							input.mySmallInput
						.myClear
						.myMediumBlock
							label.myLabel Description
							input.myFullInput
							a.mySubmit Submit	
							
			#history.tab-pane.fade
				h1 History
