extends layout

block content
	.headerDiv
		section
			h1 Your Health Matters...
			p Know everything about your health from the comfort of your own home
			a.btn Find out how
	.myWrapper
		.mainInfo
			.mainContent
				h1 Test1
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Nunc vehicula metus vitae purus efficitur, eu laoreet mauris euismod.
					| Proin vel congue sem. Quisque suscipit justo sit amet orci luctus, posuere maximus tortor sodales.
			.mainContent
				h1 Test2
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Nunc vehicula metus vitae purus efficitur, eu laoreet mauris euismod.
					| Proin vel congue sem. Quisque suscipit justo sit amet orci luctus, posuere maximus tortor sodales.
			.mainContent
				h1 Test3
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Nunc vehicula metus vitae purus efficitur, eu laoreet mauris euismod.
					| Proin vel congue sem. Quisque suscipit justo sit amet orci luctus, posuere maximus tortor sodales.


	.secondContent
		.myWrapper
			.secondDiv
				figure
					img(src='../images/work-min.jpg')
					figcaption something cool
			.secondDiv
				h1 We take your medical records blah blah
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Nunc vehicula metus vitae purus efficitur, eu laoreet mauris euismod.
					| Proin vel congue sem. Quisque suscipit justo sit amet orci luctus, posuere maximus tortor sodales.

	.contactUS
		.myWrapper

	.footer
		.myWrapper
