extends layout

block content
	center
		h1 Doctor Portal
		p
			a.btn.btn-default.btn-lg(href='http://127.0.0.1:8000/login', role='button') Admin Login
		p			
			a.btn.btn-default.btn-lg(href='http://127.0.0.1:8000/login', role='button') Doctor/Nurse Login
