doctype html
html
	head
		title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
	body
		nav
			ul.myNav
				li
					a(href='/') IST 440W Group 3
				//- li
				//- 	a(href='#b') Home
				//- li
				//- 	a(href='#c') About
				//- li
				//- 	a(href='/login') Login
				//li
					//a(href='/register') Register
		block content

		script(src='javascripts/jquery.js')
		script(src='javascripts/bootstrap.js')
		script(src='javascripts/angular.js')
