@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body {
  /*padding: 50px;*/
  /*background: url("../images/header.png");*/
  font-family: "Lato", Helvetica, Arial, sans-serif;
  /*"Lucida Grande"*/ }

a {
  color: #00B7FF; }

.p-t-b-h {
  padding-top: 1.8em; }

/*Dashboard style*/
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.mainBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 43px; }
  .mainBox .userNav {
    background: #0086D6;
    box-shadow: 7px 0 7px rgba(0, 0, 0, 0.4); }
    .mainBox .userNav .dashNav {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .mainBox .userNav .dashNav li {
        padding: 10px 0; }
        .mainBox .userNav .dashNav li:hover {
          background: #003B5F; }
      .mainBox .userNav .dashNav a {
        padding: 15px 30px;
        display: block;
        text-decoration: none;
        color: white; }
  .mainBox .userContent {
    flex-grow: 1;
    margin-left: 10px;
    padding-left: 10px; }

/*text styles*/
h1 {
  margin: 1em 0;
  font-size: 3.0em;
  font-weight: 700; }

h2 {
  margin: 0 0 0.5em;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1.1em; }

h3 {
  margin: 0 0 0.5em;
  font-size: 2.8em;
  font-weight: 700; }

h4 {
  margin: 0 0 1.5em;
  font-size: 2.8em;
  font-weight: 700; }

p {
  font-size: 16px; }

/*index page style*/
.mypage {
  padding: 0; }

.myNav {
  background: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  /*make it sticky */
  position: fixed;
  top: 0;
  width: 100%; }
  .myNav a {
    color: white;
    text-decoration: none;
    padding: 0 1em; }
  .myNav li {
    margin: 10px;
    list-style-type: none; }
    .myNav li:first-child {
      margin-right: auto; }
    .myNav li::after {
      content: '';
      display: block;
      height: 3px;
      width: 0; }
    .myNav li:hover:after {
      width: 100%;
      background: #00B7FF;
      transition: width 0.4s ease-out; }
    .myNav li:first-child:hover:after {
      margin-right: auto;
      background: none; }

/* underline effect on the nav items */
/* don't want to underline the logo with blue line*/
.myWrapper {
  margin: auto;
  width: 70%;
  height: 100%; }

.headerDiv {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background: url("../images/Header.jpg") top center no-repeat;
  background-size: cover;
  padding: 0;
  display: inline-block;
  box-shadow: 0 1px 20px black;
  text-shadow: 2px 2px 2px black; }
  .headerDiv section {
    width: 40%;
    left: 55%;
    top: 20%;
    position: absolute;
    color: white;
    padding: 50px;
    border-radius: 30px; }
  .headerDiv p {
    font-size: 2em; }
  .headerDiv section a.btn {
    color: white;
    position: relative;
    margin-top: 40px;
    padding: 12px 40px;
    border: 2px solid white;
    font-size: 1.2em;
    transition: 0.5s ease-in-out all; }
    .headerDiv section a.btn:active {
      top: 3px; }
    .headerDiv section a.btn:hover {
      color: white;
      border: 2px solid #00B7FF;
      transition: 0.5s ease-in-out all; }

.mainInfo {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-bottom: 50px; }

.mainContent {
  flex-flow: row wrap;
  width: 30%;
  text-align: center;
  transition: all 0.5s ease-out; }
  .mainContent:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out; }

.secondContent {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom right, rgba(202, 100, 29, 0.7), rgba(220, 66, 37, 0.7));
  /*, url("../images/work-min.jpg") center no-repeat;*/
  background-size: cover;
  box-shadow: 0 -1px 20px grey, 0 1px 20px grey;
  margin-bottom: 25px;
  color: white;
  text-shadow: 2px 2px 2px black; }
  .secondContent .myWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
  .secondContent figure img {
    max-width: 400px;
    max-height: 200px;
    width: 100%;
    height: 100%; }

.secondDiv {
  width: 40%; }
  .secondDiv p {
    font-size: 1.2em; }

.contactUS {
  width: 100%;
  height: 70vh; }

.footer {
  width: 100%;
  height: 50vh;
  background: #152442;
  background-size: cover;
  box-shadow: 0 -1px 20px black; }

@media (max-width: 600px) {
  .mainInfo,
  .secondContent .myWrapper {
    flex-flow: column;
    -webkit-flex-flow: column;
    justify-content: center;
    align-items: center; }

  .mainContent,
  .secondDiv {
    width: 100%; }

  .headerDiv section {
    width: 70%;
    margin: auto;
    position: relative;
    left: 0;
    top: 0;
    text-align: center; } }
.myForm {
  width: 100%; }
  .myForm .myXSmallBlock {
    width: 20%;
    display: inline-block;
    position: relative;
    margin-right: 1%;
    float: left; }
  .myForm .mySmallBlock {
    width: 30%;
    display: block;
    position: relative;
    margin-right: 4%;
    float: left; }
  .myForm .myComment {
    width: 100%; }
  .myForm .myMediumBlock {
    width: 64%;
    display: block;
    position: relative;
    margin-right: 4%;
    float: left; }
  .myForm .myLabel {
    width: 100%;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    cursor: pointer; }
  .myForm .mySmallInput {
    width: 80%;
    display: block;
    height: 38px;
    padding: 8px 10px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.4;
    color: black;
    border: 2px solid #DDD;
    border-radius: 4px; }
  .myForm .myFullInput {
    width: 91%;
    display: block;
    height: 38px;
    padding: 8px 10px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.4;
    color: black;
    border: 2px solid #DDD;
    border-radius: 4px;
    height: 200px; }
  .myForm .myRadio {
    height: 20px;
    display: inline;
    width: 10%; }
  .myForm .myClear {
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    width: 100%;
    overflow: hidden; }
  .myForm .mySmallInput:hover, .myForm .myFullInput:hover {
    border: 2px solid #0086D6; }

.testMain {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .testMain .testUrine, .testMain .testBlood, .testMain .testImaging, .testMain .testEndoscopy {
    width: 50%;
    min-height: 350px;
    height: auto; }
    .testMain .testUrine h1, .testMain .testBlood h1, .testMain .testImaging h1, .testMain .testEndoscopy h1 {
      text-align: center;
      margin: 0px; }
  .testMain .testUrine {
    background: #f2615c; }
  .testMain .testBlood {
    background: lightgreen; }
  .testMain .testImaging {
    background: lightblue; }
  .testMain .testEndoscopy {
    background: #e4fb53; }

/*# sourceMappingURL=default.css.map */
