@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body {
  /*padding: 50px;*/
  /*background: url("../images/header.png");*/
  font-family: "Lato", Helvetica, Arial, sans-serif;
  /*"Lucida Grande"*/ }

a {
  color: #00B7FF; }

.p-t-b-h {
  padding-top: 1.8em; }

/*Dashboard style*/
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.mainBox {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 36px; }
  .mainBox .userNav {
    background: #0086D6;
    box-shadow: 7px 0 7px rgba(0, 0, 0, 0.4); }
    .mainBox .userNav .dashNav {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .mainBox .userNav .dashNav li {
        padding: 10px 0; }
        .mainBox .userNav .dashNav li:hover {
          background: #003B5F; }
      .mainBox .userNav .dashNav a {
        padding: 15px 30px;
        display: block;
        text-decoration: none;
        color: white; }
  .mainBox .userContent {
    flex-grow: 1;
    margin: 0px 10px;
    padding: 0px 10px; }

/*text styles*/
h1 {
  margin: 1em 0;
  font-size: 3.0em;
  font-weight: 700; }

h2 {
  margin: 0 0 0.5em;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1.1em; }

h3 {
  margin: 0 0 0.5em;
  font-size: 2.8em;
  font-weight: 700; }

h4 {
  margin: 0 0 1.5em;
  font-size: 2.8em;
  font-weight: 700; }

p {
  font-size: 16px; }

/*index page style*/
.mypage {
  padding: 0; }

.myNav {
  background: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  z-index: 9999;
  /*make it sticky */
  position: fixed;
  top: 0;
  width: 100%; }
  .myNav a {
    color: white;
    text-decoration: none;
    padding: 0 1em; }
  .myNav li {
    margin: 10px 0 0 0;
    list-style-type: none;
    border-bottom: solid 3px transparent;
    transition: all 0.4s ease-out; }
    .myNav li:first-child {
      margin-right: auto; }
    .myNav li::after {
      content: '';
      display: block;
      height: 3px;
      width: 0; }
    .myNav li:hover {
      border-bottom: 3px solid #0086D6;
      transition: all 0.4s ease-out; }
    .myNav li:first-child:hover {
      margin-right: auto;
      background: none;
      border-bottom: none; }
    .myNav li:last-child {
      margin-right: 50px; }

/* underline effect on the nav items */
/* don't want to underline the logo with blue line*/
.myWrapper {
  margin: auto;
  width: 70%;
  height: 100%; }

.headerDiv {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background: url("../images/Header.jpg") top center no-repeat;
  background-size: cover;
  padding: 0;
  display: inline-block;
  box-shadow: 0 1px 20px black;
  text-shadow: 2px 2px 2px black; }
  .headerDiv section {
    width: 40%;
    left: 55%;
    top: 20%;
    position: absolute;
    color: white;
    padding: 50px;
    border-radius: 30px; }
  .headerDiv p {
    font-size: 2em; }
  .headerDiv section a.btn {
    color: white;
    position: relative;
    margin-top: 40px;
    padding: 12px 40px;
    border: 2px solid white;
    font-size: 1.2em;
    transition: 0.5s ease-in-out all; }
    .headerDiv section a.btn:active {
      top: 3px; }
    .headerDiv section a.btn:hover {
      color: white;
      border: 2px solid #00B7FF;
      transition: 0.5s ease-in-out all; }

.mainInfo {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-bottom: 50px; }

.mainContent {
  flex-flow: row wrap;
  width: 30%;
  text-align: center;
  transition: all 0.5s ease-out; }
  .mainContent:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-out; }

.secondContent {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom right, rgba(202, 100, 29, 0.7), rgba(220, 66, 37, 0.7));
  /*, url("../images/work-min.jpg") center no-repeat;*/
  background-size: cover;
  box-shadow: 0 -1px 20px grey, 0 1px 20px grey;
  margin-bottom: 25px;
  color: white;
  text-shadow: 2px 2px 2px black; }
  .secondContent .myWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
  .secondContent figure img {
    max-width: 400px;
    max-height: 200px;
    width: 100%;
    height: 100%; }

.secondDiv {
  width: 40%; }
  .secondDiv p {
    font-size: 1.2em; }

.contactUS {
  width: 100%;
  height: 70vh; }

.footer {
  width: 100%;
  height: 50vh;
  background: #152442;
  background-size: cover;
  box-shadow: 0 -1px 20px black; }

@media (max-width: 600px) {
  .mainInfo,
  .secondContent .myWrapper {
    flex-flow: column;
    -webkit-flex-flow: column;
    justify-content: center;
    align-items: center; }

  .mainContent,
  .secondDiv {
    width: 100%; }

  .headerDiv section {
    width: 70%;
    margin: auto;
    position: relative;
    left: 0;
    top: 0;
    text-align: center; } }
.myXSmallBlock {
  width: 20%;
  display: inline-block;
  position: relative;
  margin-right: 1%;
  float: left; }

.mySmallBlock {
  width: 30%;
  display: block;
  position: relative;
  margin-right: 4%;
  float: left; }

.myComment {
  width: 100%; }

.myMediumBlock {
  width: 64%;
  display: block;
  position: relative;
  margin-right: 4%;
  float: left; }

.myLabel, .myLabel_last {
  width: 100%;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #555;
  margin-bottom: 5px;
  cursor: pointer; }

.myLabel_last {
  margin-left: 5%; }

.mySmallInput {
  width: 80%;
  display: block;
  height: 38px;
  padding: 8px 10px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.4;
  color: black;
  border: 2px solid #DDD;
  border-radius: 4px; }

.myFullInput {
  width: 91%;
  display: block;
  height: 38px;
  padding: 8px 10px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.4;
  color: black;
  border: 2px solid #DDD;
  border-radius: 4px;
  height: 200px; }

.input100 {
  width: 100%;
  display: block;
  height: 38px;
  padding: 8px, 10px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.4;
  color: black;
  border: 2px solid #DDD;
  border-radius: 4px; }

.input50, .input50_last {
  width: 95%;
  display: block;
  height: 38px;
  padding: 8px 10px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.4;
  color: black;
  border: 2px solid #DDD;
  border-radius: 4px; }

.input50_search {
  width: 24%;
  margin-top: 5px;
  border: 2px solid #DDD; }
  .input50_search:hover {
    outline: none;
    border: 2px solid #0086D6; }

.input50_last {
  margin-left: 5%; }

.myRadio {
  height: 20px;
  display: inline;
  width: 10%; }

.myClear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden; }

.myFullInput:hover,
.mySmallInput:hover {
  border: 2px solid #0086D6; }

input,
label {
  z-index: 1; }

a.mySubmit {
  color: white;
  text-transform: uppercase;
  padding: 12px 40px;
  background-color: #0086D6;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 5px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: 0.4s ease-in-out all; }

.testMain, .myMain {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .testMain .myWarning, .myMain .myWarning {
    color: red;
    font-style: italic;
    display: block; }
  .testMain input.ng-invalid.ng-touched, .myMain input.ng-invalid.ng-touched {
    border: 2px solid #DA3637;
    outline: none; }
  .testMain input.ng-valid.ng-touched, .myMain input.ng-valid.ng-touched {
    border: 2px solid #509D12;
    outline: none; }
  .testMain .ng-invalid .btnsub, .myMain .ng-invalid .btnsub {
    background: gray;
    color: white;
    transition: 0.4s ease-in-out all;
    outline: none;
    pointer-events: none; }
  .testMain .ng-invalid-minlength, .myMain .ng-invalid-minlength {
    border: 2px solid #e5e910;
    outline: none; }
  .testMain h1, .myMain h1 {
    margin: 0px; }
  .testMain .testBlock, .myMain .testBlock {
    border: solid 2px #DDD;
    top: 0;
    background-color: white;
    transition: top 0.2s ease;
    position: relative;
    height: auto;
    margin: 0em 1em 1em 0px;
    padding: 10px;
    width: 40%; }
    .testMain .testBlock:hover:before, .myMain .testBlock:hover:before, .testMain .testBlock:hover:after, .myMain .testBlock:hover:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width: 300px;
      background: #777;
      -webkit-box-shadow: 0 15px 10px #777;
      -moz-box-shadow: 0 15px 10px #777;
      box-shadow: 0 15px 10px #777;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg); }
    .testMain .testBlock:hover:after, .myMain .testBlock:hover:after {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
      right: 10px;
      left: auto; }
    .testMain .testBlock:hover, .myMain .testBlock:hover {
      top: -5px;
      cursor: default; }
    .testMain .testBlock h1, .myMain .testBlock h1 {
      color: #4E4E4E;
      padding: 10px 0px 10px 0px;
      margin: 0px 0px 10px 0px;
      border-bottom: solid 2px #DDD; }
    .testMain .testBlock .mediumbox, .myMain .testBlock .mediumbox {
      width: 81%; }
      .testMain .testBlock .mediumbox .input50, .myMain .testBlock .mediumbox .input50, .testMain .testBlock .mediumbox .input50_last, .myMain .testBlock .mediumbox .input50_last {
        width: 47%;
        float: left; }

.myMain .myBlock {
  border: solid 2px #DDD;
  top: 0;
  transition: top 0.2s ease;
  position: relative;
  height: auto;
  margin-right: 1em;
  padding: 10px;
  background-color: white; }
  .myMain .myBlock:hover:before, .myMain .myBlock:hover:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  .myMain .myBlock:hover:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto; }
  .myMain .myBlock .input100 {
    padding: 8px 10px; }
  .myMain .myBlock .myFullInput {
    width: 100%;
    height: 100px; }
  .myMain .myBlock .myMediumBlock {
    width: 90%; }
  .myMain .myBlock .mySmallBlock {
    width: 50%;
    margin-right: 0; }
  .myMain .myBlock:hover {
    top: -5px;
    cursor: default; }
  .myMain .myBlock.allergy {
    min-height: 300px; }
  .myMain .myBlock.immunization {
    min-height: 300px; }
  .myMain .myBlock.medication {
    min-height: 480px; }

/*# sourceMappingURL=default.css.map */
